* {
  /* box-sizing: border-box !important;
  padding: 0 !important; */
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fff !important;
}

.title {
  font-family: "Lobster", cursive;
  letter-spacing: 2px;
  color: #004cff;
}

.input-search {
  font-size: 16px;
  border-radius: 20px;
  background-color: #f8f9fa;
  text-indent: 10px;
  border: none;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  opacity: 0.8;
}

.input-search:focus {
  box-shadow: 0 0 5pt 2pt #d3d3d3;
}

.button {
  width: 40%;
  padding: 5px !important;
  border: none;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  /* background-color: #004cff !important; */
  opacity: 0.8;
  transition: ease 0.3s;
}
.button:hover {
  opacity: 1;
}

.card {
  background-color: #f8f9fa;
  /* width: 18rem; */
  border-radius: 15px;
  margin: 6px;
}

.card-title {
  color: #004cff;
  font-size: 16px;
  font-weight: bold !important;
}

.card-text {
  font-size: 14px;
}
